In [2]:
print("hello World!")

hello World!

In [3]:
# Dependencies
import pandas as pd
import os
import numpy as np

In [4]:
# Study data files
location_path = "data/CT_DB_Location.csv"
points_path = "data/CT_DB_Points.csv"
sales_path = "data/CT_DB_Sales.csv"

# Read all the csv files
location_df = pd.read_csv(location_path)
points_df = pd.read_csv(points_path)
sales_df = pd.read_csv(sales_path)

# Combine the data into a single dataset
combined_data = pd.merge(sales_df, points_df, on=["Client ID", "Quarter", "Month", "Year"], how="outer")
combined_data = pd.merge(combined_data, location_df, on= "Client ID", how="outer")

# Display the data table for preview
combined_data

,Client ID,Quarter,Category,Distributor,Month,Year,Min Monthly Sales,A,B,C,Monthly Points,Quarter Bonus 1,Quarter Bonus 2,Yearly Bonus 1,Yearly Bonus 2,Town,State
0,2,1,C4,D5,1,2018,59000,13899.34,0.0,38052.45,0,0,0,0,0,Tlalnepantla,Ciudad de Mexico
1,2,1,C4,D5,2,2018,59000,5972.67,0.0,9328.95,0,0,0,0,0,Tlalnepantla,Ciudad de Mexico
2,2,2,C4,D5,5,2018,59000,988.38,0.0,18818.64,0,0,0,0,0,Tlalnepantla,Ciudad de Mexico
3,2,2,C4,D5,6,2018,59000,5763.96,0.0,11152.62,0,0,0,0,0,Tlalnepantla,Ciudad de Mexico
4,2,3,C4,D5,8,2018,59000,26613.90,0.0,61739.82,1080,0,0,0,0,Tlalnepantla,Ciudad de Mexico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14579,1371,4,C4,D12,11,2020,59000,180999.00,27786.0,9364.00,164,0,0,0,0,Colima,Colima
14580,1371,4,C4,D12,12,2020,59000,77980.00,33571.0,7682.00,134,6200,4000,0,0,Colima,Colima
14581,1372,4,C2,D15,10,2020,23000,11367.00,3969.0,11498.00,172,0,0,0,0,Tezontepec,Hidalgo
14582,1372,4,C2,D15,11,2020,23000,8218.00,19235.0,8218.00,123,0,0,0,0,Tezontepec,Hidalgo
14583,1372,4,C2,D15,12,2020,23000,26762.00,6632.0,23798.00,357,1894,3000,0,0,Tezontepec,Hidalgo

In [5]:
# Adding the Total Sales and Points, and Location columns
combined_data["Total Sales"] = combined_data["A"] + combined_data["B"] + combined_data["C"]
combined_data["Total Points"] = combined_data["Monthly Points"] + combined_data["Quarter Bonus 1"] + combined_data["Quarter Bonus 2"] + combined_data["Yearly Bonus 1"] + combined_data["Yearly Bonus 1"] 

# We know that the program estimates each point is worth $0.86 MXN, so we will create a column to know the Points worth in $
combined_data["Points Worth ($)"] = combined_data["Total Points"] * 0.86

# We would like to know the compliance of the client in their monthly sales, so we will add a column that calculates it.
combined_data["Compliance"] = round(combined_data["Total Sales"] / combined_data["Min Monthly Sales"],2)

# Reorganizing the data frame
Project_df = combined_data[["Client ID", "Town", "State", "Month", "Quarter", "Year", "Category", 
                               "Distributor", "Min Monthly Sales", "Total Sales", "Compliance", "Total Points", "Points Worth ($)"]]
Project_df['Total Sales'] = Project_df['Total Sales'].astype(np.int64)
Project_df['Total Points'] = Project_df['Total Points'].astype(np.int64)

# Organized and clean data frame we will be working with
Project_df

C:\Users\HP\anaconda3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\HP\anaconda3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

,Client ID,Town,State,Month,Quarter,Year,Category,Distributor,Min Monthly Sales,Total Sales,Compliance,Total Points,Points Worth ($)
0,2,Tlalnepantla,Ciudad de Mexico,1,1,2018,C4,D5,59000,51951,0.88,0,0.00
1,2,Tlalnepantla,Ciudad de Mexico,2,1,2018,C4,D5,59000,15301,0.26,0,0.00
2,2,Tlalnepantla,Ciudad de Mexico,5,2,2018,C4,D5,59000,19807,0.34,0,0.00
3,2,Tlalnepantla,Ciudad de Mexico,6,2,2018,C4,D5,59000,16916,0.29,0,0.00
4,2,Tlalnepantla,Ciudad de Mexico,8,3,2018,C4,D5,59000,88353,1.50,1080,928.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14579,1371,Colima,Colima,11,4,2020,C4,D12,59000,218149,3.70,164,141.04
14580,1371,Colima,Colima,12,4,2020,C4,D12,59000,119233,2.02,10334,8887.24
14581,1372,Tezontepec,Hidalgo,10,4,2020,C2,D15,23000,26834,1.17,172,147.92
14582,1372,Tezontepec,Hidalgo,11,4,2020,C2,D15,23000,35671,1.55,123,105.78
14583,1372,Tezontepec,Hidalgo,12,4,2020,C2,D15,23000,57192,2.49,5251,4515.86

In [6]:
# Export the Project_df into a csv
Project_df.to_csv("Project_df.csv",encoding="utf-8",index=False)